<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.room302.shop.dao.CfCommodityTypeMapper">
  <resultMap id="BaseResultMap" type="com.room302.shop.model.CfCommodityType">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <insert id="insert" parameterType="com.room302.shop.model.CfCommodityType">
    insert into cf_commodity_type (id, type_name, img
      )
    values (#{id,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.room302.shop.model.CfCommodityType">
    insert into cf_commodity_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectCommodityTypes"  resultMap="BaseResultMap">
    SELECT
    id, type_name, img
    FROM
    cf_commodity_type
  </select>

  <delete id="deleteCommodityType">
    delete from cf_commodity_type where id = #{id,jdbcType=VARCHAR}
  </delete>
</mapper>